.certifications-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.certification-item {
  width: 300px;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certification-item-image {
  width: 150px;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.certification-item h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.certification-item p {
  color: #a0a0a0;
  margin-bottom: 1rem;
}

.certification-item-links {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.certification-item-links a {
  font-size: 0.9rem;
}

.certifications-title {
    margin-bottom: 3rem;
    text-align: center;
}
