.contact-title {
    margin-bottom: 3rem;
    text-align: center;
}

.contact-form-container {
    display: flex;
    justify-content: center;
}

.contact-form-wrapper {
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.02);
    overflow: hidden;
    width: 100%;
    max-width: 640px;
}

.contact-form {
    max-width: 100%;
    border: none;
}