.scroll-to-top-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 100;
}

.scroll-to-top-button:hover {
    background-color: var(--color-secondary);
}
