.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.skill-item {
  padding: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  cursor: pointer;
}

.skill-item h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.skill-item p {
  color: #a0a0a0;
}

.skills-title {
    margin-bottom: 3rem;
    text-align: center;
}
